@import "icons/weather/css/weather-icons.min.css";
@import "http://fonts.googleapis.com/css?family=Lato:300,400,700,900";
@import "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700";
@import "icons/line-icons/line-icons.css";
@import "icons/line-icons/simple-line-icons.css";

@font-face {
    font-family: 'weather';
    src: url('icons/weather/artill_clean_icons-webfont.eot');
    src: url('icons/weather/artill_clean_icons-webfontd41d.eot?#iefix') format('embedded-opentype'), url('icons/weather/artill_clean_icons-webfont.woff') format('woff'), url('icons/weather/artill_clean_icons-webfont.ttf') format('truetype'), url('icons/weather/weatherfont/artill_clean_icons-webfont.html#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
html {
    height: 100%;
}
body {
    height: 100%;
    background: #F5F5F5;
    color: #5B5B5B;
    font-family: 'Lato', 'Open Sans', Helvetica, sans-serif !important;
    line-height: 1.42857143;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body > section {
    opacity: 0;
    height: 100%;
}
body p strong {
    font-family: 'Lato';
    font-weight: 600;
}
body > .pace > .pace-activity {
    display: none !important;
}
input,
select,
textarea {
    color: #636e7b;
    font-family: 'Lato', 'Open Sans', Helvetica, sans-serif !important;
}
ol,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
pre {
    color: #121212;
}
a {
    color: #319DB5;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:focus,
a:active {
    outline: none;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lato', 'Open Sans', Helvetica, sans-serif;
    font-weight: 100;
}
h1.light,
h2.light,
h3.light,
h4.light,
h5.light {
    font-family: 'Lato', 'Open Sans', Helvetica, sans-serif;
    font-weight: 100;
}
h1,
.h1 {
    font-size: 45px;
    margin-top: 0;
    font-family: 'Lato', 'Open Sans', Helvetica, sans-serif;
}
.font-nothing {
    font-family: 'Nothing You Could Do', 'Arial', cursive;
}
.font-nothing strong {
    font-weight: 600;
    font-family: 'Nothing You Could Do', 'Arial', cursive;
}
div,
p,
span {
    text-align: left;
}
h2,
.h2 {
    font-size: 25px;
}
h3 {
    font-size: 20px;
}
strong {
    font-family: 'Lato';
    font-weight: 600;
}
p {
    line-height: 23px;
}

